* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 15px;
  background-color: #f6f6f6;
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat";
  border: 1px solid gray;
  margin-bottom: 10px;
}

div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
